.container{
    margin: 0 auto;
    width: 1000px;

}

.box{
    display:flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.like{
    background-color: rgb(185, 187, 78);
    box-shadow: 5px 0.5px  black;
}

